* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
  "h h h h h"
  "n m m m m";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 70px auto;
  justify-content: center;
  flex-direction: column;
  background: #0c3c5f;
  height: 100vh;
  text-align: center;
  width: 100%;
}

