.news-article {
box-sizing: border-box;
border: 3px solid whitesmoke;
display: flex;
flex-direction: column;
/* justify-content: space-around; */
background: #1f6fa8;
border-radius: 4px;
}


.article-image {
  width: 100%;
  /* width: 280px;
  height: 220px; */
}

.article-body {
  /* display: flex;
  flex-direction: column; */
  flex-grow: 1;
  background: whitesmoke;
  padding: 10px;
  /* width: 100%; */
}

.article-button {
  width: 100%;
  background-color: #B46AF1;
  padding: 10px;
  font-size: 1.5em;
  color: whitesmoke;
  cursor: pointer;
}
